*.suo
*.user
*.DotSettings
/PathfinderWPF/obj/
/PathfinderWPF/bin/Debug/Pathfinder.Domain.dll
/PathfinderWPF/bin/Debug/Pathfinder.Domain.pdb
/PathfinderWPF/bin/Debug/Pathfinder.WPF.exe
/PathfinderWPF/bin/Debug/Pathfinder.WPF.pdb
/PathfinderWPF/bin/Debug/Pathfinder.WPF.vshost.exe
/PathfinderWPF/bin/Debug/PathfinderWPF.vshost.exe.manifest
/Pathfinder.Domain/bin/Debug/Pathfinder.Domain.dll
/Pathfinder.Domain/bin/Debug/Pathfinder.Domain.pdb
/Pathfinder.Domain/obj/
